.about-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 70px;
  animation: slide-up 1s ease-out;
}

.about-section h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
  color: var(--heading-color);
  transition: color 0.3s ease;
}

.about-section .text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: var(--cards-text);
  animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.about-section .abt_img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  animation: scale-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.about-section img:hover {
  transform: scale(1.05);
}
/* Responsive layout */
@media only screen and (max-width: 600px) {
  .about-section {
    padding: 10px;
  }

  .about-section h2 {
    font-size: 24px;
  }

  .about-section .text {
    font-size: 14px;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.team-section {
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  animation: slide-up 1s ease-out;
}

.team-section h2 {
  margin-bottom: 25px;
  padding: 2px 8px 16px 8px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: var(--heading-color);
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team-member {
  border: 2px solid var(--heading-color);
  text-align: center;
  background-color: var(--cards-bg);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(81, 1, 1, 0.1);
  padding: 20px;
  flex: 1 0 calc(50% - 20px);
  max-width: calc(50% - 20px);
  animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.team-member img:hover {
  transform: scale(1.1);
}

.team-member h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--heading-color);
  transition: color 0.3s ease;
}

.team-member p {
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--cards-text);
  transition: color 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .team-member {
    flex: 1 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}
